body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: calibri;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,121,9,1) 54%, rgba(0,212,255,1) 100%);
}

main {
    padding: 1rem 1.5rem;
    min-height: 25rem;
    min-width: 22rem;
    background: rgb(186, 245, 247);
}

h1 {
    text-align: center;
    color: #020024;
}

#main-input {
    margin: 0 auto;
    display: block;
    padding: .5rem;
    font-size: 1.2rem;
    background: rgb(186, 245, 247);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

li:hover, button:hover {
    cursor: pointer;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.delete-item {
    color: #fff;
    border: none;
    padding: .4rem;
    background-color: rgb(202, 0, 0);
}

.edit-item {
    color: #fff;
    border: none;
    padding: .4rem;
    background-color: rgb(33, 25, 25);
}

.save-item {
    color: white;
    border: none;
    padding: .4rem;
    background-color: #0e7909;
}

.edit-input {
    background: rgb(186, 245, 247);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 1.1rem;
}

.warning {
    color: red;
    text-align: center;
    display: none;
}

p {
    margin: 0;
    padding: 0;
}

.done {
    color: gray;
    text-decoration: line-through;
    font-style: italic;
}